<% @page_title = "All Pages" %>

<%= link_to("<< Back to Subjects", subjects_path, :class => 'back-link') %>

<div class="pages index">
  <h2>Pages</h2>

  <%= link_to("Add New Page", new_page_path(:subject_id => @subject.id), :class => 'action new') %>

  <table class="listing" summary="Page list">
    <tr class="header">
      <th>#</th>
      <th>Subject ID</th>
      <th>Page</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Sections</th>
      <th>Actions</th>
    </tr>
    <% @pages.each do |page| %>
    <tr>
      <td><%= page.position %></td>
      <td><%= page.subject_id %></td>
      <td><%= page.name %></td>
      <td><%= page.permalink %></td>
      <td class="center"><%= status_tag(page.visible) %></td>
      <td class="center"><%= page.sections.size %></td>
      <td class="actions">
        <%= link_to("View Sections", sections_path(:page_id => page.id), :class => 'action show') %>
        <%= link_to("Show", page_path(page, :subject_id => @subject.id), :class => 'action show') %>
        <%= link_to("Edit", edit_page_path(page, :subject_id => @subject.id), :class => 'action edit') %>
        <%= link_to("Delete", delete_page_path(page, :subject_id => @subject.id), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
