<%= link_to("<< Back to List", sections_path, :class => 'back-link') %>

<div class="sections new">
  <h2>Create Section</h2>

  <%= form_for(@section) do |f| %>

    <table summary="Section form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Page ID</th>
        <td><%= f.text_field(:page_id) %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= f.text_field(:position) %></td>
      </tr>
      <tr>
        <th>Visible</th>
        <td><%= f.text_field(:visible) %></td>
      </tr>
      <tr>
        <th>Content type</th>
        <td><%= f.text_field(:content_type) %></td>
      </tr>
      <tr>
        <th>Content</th>
        <td><%= f.text_field(:content) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create Section") %>
    </div>

  <% end %>
</div>
